
.dark-mode-toggle {
  /*top right positioning*/
  position: absolute;
  top: 0;
  right: 0;
  /*styling*/
  background-color: #fff;
  /* color: #333; */
  padding: 10px;
  border: 1px solid #333;
  border-radius: 0 0 0 5px;
  cursor: pointer;
}

.dark-mode {
    background-color: #04001A;
    color: #fff;
  }

  .t_button {
    background-color: #04001A;
    color: #fff;
  }

    .t_button:hover {
        background-color: #fff;
        color: #04001A;
    }


  .light-mode {
    /* background-color: #fff; */
    color: #fff;
  }

  .todo {
    background-color: #04001A;
    color: #fff;
  }

  .todo-action {
    background-color: #04001A;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  